<div class="ngdialog-message">
    <h4>Поиск документов</h4>
</div>
<angucomplete pause="{{Autocomplete.pause}}"
                id="{{Autocomplete.id}}"
                inputclass="{{Autocomplete.inputclass}}"
                selectedobject="selectedObject"
                url="{{Autocomplete.url}}"
                searchfields="{{Autocomplete.searchfields}}"
                titlefield="{{Autocomplete.titlefield}}"
                minlength="{{Autocomplete.minlength}}"
                searchingplaceholder="Поиск..."
                noresultsplaceholder="Не найдено"
                placeholder="{{Autocomplete.placeholder}}"
                hidenoresults="true"/>
<div>
    <button type="button" class="button-blue" ng-click="closeThisDialog(selectedObject)">Выбрать</button>
    <div class="upload-container">
        <button type="button" ng-click="onUploadClick($event)" ng-disabled="!uploadBtnEnabled" class="button-gray">Загрузить</button>
        <input type="file" oi-file="fileUploadOptions" ng-disabled="!uploadBtnEnabled" size="1"/>
    </div>
    <button type="button" ng-click="closeThisDialog()" class="button-gray close-btn">Закрыть</button>
</div>
