<div class="call-notifications-widget">
    <div class="call-notification" ng-show="false">
        <div class="call-notification-left-column">
            <div class="important-call-icon"></div>
        </div>
        <div class="call-notification-right-column">
            <div class="call-notification-title">Перезвонить {{}} до 19:00</div>
            <div class="call-notification-text">Минэкономразвития РФ</div>
            <div class="call-notification-text">Исполнение бюджета на 2014 года</div>
        </div>
        <button class="button-gray">Отложить на 5 минут</button>
        <button class="button-blue">Отключить оповещение</button>
    </div>
</div>
